<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />
        <title>Music mixer - Admin area</title>
        <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.css">
        <link rel="stylesheet" href="/dist/css/font-awesome.min.css">
        <link rel="stylesheet" href="/dist/css/formValidation.css"/>
        <link rel="stylesheet" href="/dist/css/main.css" media="screen" title="no title" charset="utf-8">

        <script src="/vendor/jquery/jquery.min.js"></script>
    </head>
    <body>
        <%- include nav %>
        <div class="container-fluid" style="padding-top: 70px;">
