<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Music Mixer - Admin area</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/admin">Dashboard</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/admin/posts">Posts</a></li>
        <li><a href="/admin/logs">Logs</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/profile/edit">
                Settings
            </a>
        </li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
